aoi_path: r"C:\Users\gmfet\vgd_italy\emilia_aoi\Emilia-Romagna.shp"
training:
  identifier: vgd
  usecase: displacement
  epochs: 1
  batch_size: 16
  num_workers: 0
  seq_len: 40
model:
  name: CNN-ConvLSTM
  input_size: null
  output_size: 1
  hidden_layers:
  - 128
  - 64
  - 32
  device: cuda
  model_path: null
data:
  categories:
    lithology:
    - 1
    - 2
    - 3
    - 4
    - 5
    - 6
    - 7
    - 8
    - 9
    - 10
    - 11
    - 12
    - 13
    - 14
    - 15
    - 16
    - 17
    - 18
    - 20
    lulc:
    - 10
    - 20
    - 30
    - 40
    - 50
    - 60
    - 70
    - 80
    - 90
    - 95
    - 100
  stats:
    displacement:
      mean: -5.6704888343811035
      std: 9.522238731384277
      min: -246.5
      max: 70.30000305175781
    bulk_density:
      mean: 115.83834838867188
      std: 33.824249267578125
      min: 0.0
      max: 142.0
    clay_content:
      mean: 338.34307861328125
      std: 106.24502563476562
      min: 0.0
      max: 558.0
    dem:
      mean: 220.09971618652344
      std: 301.62799072265625
      min: -8.820664405822754
      max: 2159.388916015625
    genua:
      mean: 0.005956022534519434
      std: 0.0011931683402508497
      min: 0.004016949329525232
      max: 0.011880000121891499
    ksat:
      mean: 46.918724060058594
      std: 10.455387115478516
      min: 30.82217788696289
      max: 107.03894805908203
    population_density_2020_1km:
      mean: 308.11492919921875
      std: 993.8604736328125
      min: 0.0
      max: 18901.658203125
    sand:
      mean: 159.70858764648438
      std: 82.56853485107422
      min: 0.0
      max: 581.0
    silt:
      mean: 431.03533935546875
      std: 125.43034362792969
      min: 0.0
      max: 642.0
    slope:
      mean: 5.47356653213501
      std: 6.913877964019775
      min: 0.0
      max: 54.03114318847656
    soil_organic_carbon:
      mean: 528.0527954101562
      std: 226.95228576660156
      min: 0.0
      max: 1721.0
    vol_water_content_at_-10_kPa:
      mean: 372.9745788574219
      std: 104.76956939697266
      min: 0.0
      max: 470.0
    vol_water_content_at_-1500_kPa:
      mean: 195.61778259277344
      std: 56.337467193603516
      min: 0.0
      max: 303.0
    vol_water_content_at_-33_kPa:
      mean: 320.565673828125
      std: 89.82173919677734
      min: 0.0
      max: 402.0
    drought_code:
      mean: 176.9931640625
      std: 155.38079833984375
      min: 0.0
      max: 757.0
    precipitation:
      mean: 1.5899078845977783
      std: 5.322537899017334
      min: 0.0
      max: 86.0
    seismic_magnitude:
      mean: 4.0264218114316463e-05
      std: 0.001721782609820366
      min: 0.0
      max: 0.5
    ssm:
      mean: 52.99617004394531
      std: 35.852108001708984
      min: -1638.54931640625
      max: 872.1615600585938
    temperature:
      mean: 13.734886169433594
      std: 7.696186065673828
      min: -18.58139991760254
      max: 34.3286018371582
    twsan:
      mean: -1.9403042793273926
      std: 1.4564979076385498
      min: -12.05246639251709
      max: 0.2199999988079071
optimizer:
  class_path: torch.optim.Adam(model.parameters(), lr=learning_rate, weight_decay=0.02)
  init_args:
    lr: 1.0e-05
    weight_decay: 0.1
lr_scheduler:
  class_path: ReduceLROnPlateau
  init_args:
    monitor: val/loss
    factor: 0.5
    patience: 5
logging:
  log_dir: null
  log_frequency: null
checkpoint:
  save_path: checkpoint.pt
  save_frequency: null
augmentations:
  horizontal_flip: null
  random_crop: null
  resize: null
